<h1>My Dashboard</h1>
<p>You are logged in.</p>

<ul>
    <li>Email: {{email}}</li>
    <li>Username: {{display_name}}</li>
    <li>Country: {{country}}</li>
</ul>


<div class="articles">
    <h2>Latest News Articles</h2>

    <section>
        <h3>News Article name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit natus, consequuntur aliquam reprehenderit excepturi illum cum doloremque, officia saepe voluptates fuga modi rem eligendi quia vitae beatae adipisci porro. Eligendi sint omnis beatae vel veniam soluta culpa unde hic atque!</p>
    </section>
</div>