body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.articles {
  margin-top: 55px;
}

.articles section {
  padding: 20px;
  box-sizing: border-box;
  background-color: #f3f3f3;

  display: flex;
  align-items: flex-start;
}

.articles section img {
  max-width: 200px;
}

.articles .article-text {
  margin-left: 20px;
}

.articles .article-text h3 {
  margin-top: 0;
}

.btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 5px;
}

.getSongs {
  background-color: red;
}

.visitArticle {
  background-color: deepskyblue;
}

.song {
  padding: 5px;
  font-weight: bold
}

.error {
  font-weight: bold;
  color: red;
}