body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.articles {
  margin-top: 55px;
}

.articles section {
  padding: 20px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}